.contact {
    margin-bottom: 200px;
}

.contact__wrap {
    display: flex;
    justify-content: space-around;
}

.contact-box {
    width: 470px;
}

.contact-box--price {
    max-width: 180px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.contact-left {
    display: flex;
    justify-content: flex-end;
}

.contact-box__wrap {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-box__wrap--price {
    display: flex;
    justify-content: flex-end;
}

.contact-form {
    text-align: center;
}

.contact-form__title {
    @include RobotoCondensedRegular;
    font-size: 24px;
    margin-bottom: 50px;
}

.input-text {
    position: relative;

    input {
        width: 80%;
        border: 1px solid $title;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 31px;
        padding-right: 31px;
    }

    small {
        color: rgb(251, 99, 99);
        @include RobotoCondensedLight;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        visibility: hidden;
    }
}

.input-text.error small {
    visibility: visible;
}

.input-text.error input {
    border: 1px solid rgb(251, 99, 99);
}

.input-text.success input {
    border: 1px solid rgb(87, 184, 63);
}

//Remove arrows in input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

//custom placeholder
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $blue;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $lightBlue;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $lightBlue;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $lightBlue;
}