.fairy-tail {
    margin-bottom: 200px;
}

.fairy-tail-box {
    max-width: 420px;
    line-height: 48px;
    margin-bottom: 100px;
}

.fairy-tail__about {
    max-width: 1560px;
    display: flex;
    font-size: 18px;
}

.about-slider {
    max-width: 960px;
}

.about-aside {
    padding: 50px 0px 0px 55px;

    p {
        font-weight: 300;
        padding-bottom: 50px;
        margin: 0;
    }
}

.about-aside__museum {
    max-width: 280px;
    padding-top: 50px;
}