html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $blue;
    background-color: $bg;
    @include RobotoCondensedRegular;
    line-height: 21px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

//scrollbar 
::-webkit-scrollbar-track {
    //For Scroll background
    border-radius: 5px;
    box-shadow: inset 0 0 10px #636e72;
}

::-webkit-scrollbar-thumb {
    //For Scroll Scrolling Thumb 
    border-radius: 5px;
    background-color: $lightBlue;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $lightBlue;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

a {
    text-decoration: none;
    color: $blue;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.title {
    color: $title;
    font-size: 96px;
    @include balqis;
    font-style: normal;
    font-weight: normal;
    line-height: 76px;
}

.subtitle {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    @include RobotoCondensedItalic;
    font-style: italic;
    line-height: 28px;
}


//button hover
.btn-outline {
    text-transform: uppercase;
    padding: 11px 55px;
    font-size: 24px;
    @include RobotoCondensedLight;
    background: none;
    position: relative;
    z-index: 1;
    letter-spacing: 2px;
    color: $blue;
    border: 1px solid $title;
    cursor: pointer;
    text-align: center;
    transition: all .3s linear;
}

.btn-outline {
    &:hover {
        animation: pulse 1s ease-in infinite;
        background: radial-gradient(circle, rgba($title, 0.25) 43%, transparent 50%) 0 0 / 1em 1em, radial-gradient(circle, rgba($title, 0.25) 43%, transparent 50%) 0.5em 0.5em / 2em 2em;
        color: darken(adjust-hue($title, 180), 30%);
        color: $lightBlue;
        border: 1px solid $lightBlue;
    }
}

@keyframes pulse {
    50% {
        background-position: 0.66em 0.66em, -0.33em -0.33em;
    }

    100% {
        background-size: 2em 2em, 1em 1em;
        background-position: -1.5em -1.5em, -1em -1em;
    }
}

::selection {
    background-color: $title;
    color: $lightBlue;
}

//preloader

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

.preloader-text {
    text-transform: uppercase;
    color: $title;
    text-align: center;
}

.preloader-item {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.preloader-item:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid $blue;
    border-color: $title $lightBlue $title $lightBlue;
    animation: preloader-item 1.2s infinite;
}

@keyframes preloader-item {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

//visual effect

.transition {
    opacity: 0;
    transform: translateY(20px);
    transition: 2s all ease-in-out;
}

.transition-appear {
    opacity: 1;
    transform: translateY(0px);
}