.header {
    background-image: url(../images/header/bg-header.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 200px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 72px 0 0 0;

    // hover effects
    li::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: $title;
        transition: width .3s;
    }

    li:hover::after {
        width: 100%;
    }
}

.header-menu__num:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: $title;
    transition: width .3s;
}

.header-menu__num:hover::after {
    width: 100%;
}

.header-menu__navigation {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 370px;
    margin: 0;
    padding: 0;
}

.header-menu__num {
    position: relative;
}

.header-menu__num::before {
    content: '';
    background: url(../images/header/phone.svg);
    height: 30px;
    width: 30px;
    position: absolute;
    left: -40px;
}

.header-title {
    font-size: 250px;
    margin: 150px 0 0 0;
    padding: 0;
    text-align: center;
    @include balqis;
    font-style: normal;
    font-weight: normal;
}

.header-subtitle {
    display: flex;
    justify-content: flex-end;
    font-size: 56px;
    font-weight: 300;
    @include RobotoCondensedItalic;
    font-style: italic;
    margin-top: -40px;
    margin-right: 50px;
}