.header {
    background-image: url(../images/header/bg-header.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 200px;
}

.header-balloons {
    img {
        position: absolute;
        width: 80px;
        height: 120px;
    }
}

//animation header

.header-balloons img:nth-child(1) {
    top: 52%;
    left: 26%;
    animation: animate 10s linear infinite;
}

.header-balloons img:nth-child(2) {
    top: 25%;
    left: 18%;
    animation: animate 12s linear infinite;
}

.header-balloons img:nth-child(3) {
    top: 15%;
    left: 73%;
    animation: animate 10s linear infinite;
}

.header-balloons img:nth-child(4) {
    top: 80%;
    left: 80%;
    animation: animate 6s linear infinite;
}

.header-balloons img:nth-child(5) {
    top: 10%;
    left: 30%;
    animation: animate 16s linear infinite;
}

.header-balloons img:nth-child(6) {
    top: 70%;
    left: 42%;
    animation: animate 8s linear infinite;
}

.header-balloons img:nth-child(7) {
    top: 75%;
    left: 5%;
    animation: animate 9s linear infinite;
}

.header-balloons img:nth-child(8) {
    top: 10%;
    left: 53%;
    animation: animate 11s linear infinite;
}

.header-balloons img:nth-child(9) {
    top: 5%;
    left: 5%;
    animation: animate 11s linear infinite;
}

.header-balloons img:nth-child(10) {
    top: 42%;
    left: 80%;
    animation: animate 14s linear infinite;
}

.header-balloons img:nth-child(11) {
    top: 53%;
    left: 93%;
    animation: animate 13s linear infinite;
}

.header-balloons img:nth-child(12) {
    top: 45%;
    left: 60%;
    animation: animate 7s linear infinite;
}

.header-balloons img:nth-child(13) {
    top: 80%;
    left: 58%;
    animation: animate 9s linear infinite;
}

.header-balloons img:nth-child(14) {
    top: 43%;
    left: 7%;
    animation: animate 7s linear infinite;
}

.header-balloons img:nth-child(15) {
    top: 35%;
    left: 46%;
    animation: animate 7s linear infinite;
}

.header-balloons img:nth-child(16) {
    top: 82%;
    left: 20%;
    animation: animate 11s linear infinite;
}

.header-balloons img:nth-child(17) {
    top: 10%;
    left: 90%;
    animation: animate 6s linear infinite;
}

.header-balloons img:nth-child(2n + 1) {
    width: 50px;
    height: 65px;
}

.header-balloons img:nth-child(4n + 2) {
    width: 20px;
    height: 30px;
}

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-320px);
        opacity: 0;
    }
}


.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 72px 0 0 0;

    // hover effects
    li::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: $title;
        transition: width .3s;
    }

    li:hover::after {
        width: 100%;
    }
}

.header-menu__num:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: $title;
    transition: width .3s;
}

.header-menu__num:hover::after {
    width: 100%;
}

.header-menu__navigation {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 370px;
    margin: 0;
    padding: 0;
}

.header-menu__num {
    position: relative;
}

.header-menu__num::before {
    content: '';
    background: url(../images/header/phone.svg);
    height: 30px;
    width: 30px;
    position: absolute;
    left: -40px;
}

.header-title {
    font-size: 250px;
    margin: 150px 0 0 0;
    padding: 0;
    text-align: center;
    @include balqis;
    font-style: normal;
    font-weight: normal;
    line-height: 334px;
}

.header-subtitle {
    display: flex;
    justify-content: flex-end;
    font-size: 56px;
    font-weight: 300;
    @include RobotoCondensedItalic;
    font-style: italic;
    margin-top: -40px;
    margin-right: 50px;
}