@media (max-width:1520px) {
    .about-slider__item img {
        max-height: 475px;
        max-width: 650px;
    }

    .about-slider {
        max-width: 667px;
        max-height: 475px;
    }

    .arrow-back,
    .arrow-next {
        top: 215px;
    }
}

@media (max-width:1240px) {
    .header-title {
        font-size: 170px;
        line-height: 220px;
        margin: 120px 0 0 0;
    }

    .header-subtitle {
        font-size: 40px;
        margin-top: -20px;
    }

    .fairy-tail__about {
        flex-direction: column;
    }

    .our-trip__left {
        margin: 0 auto;
        padding: 0 15px;
    }

    .our-trip {
        flex-direction: column;
    }

    .our-trip__days-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        align-items: flex-start;
    }

    .our-trip__btn {
        margin: 50px auto;
    }

    .our-trip__days {
        padding: 50px 25px 0 0px;
    }

    .our-trip__slider-wrap {
        width: 100%;
    }

    .our-trip__slider {
        margin: 0 auto;
        height: 765px;
        width: 960px;
    }

    .our-trip__slider img {
        height: 765px;
        width: 960px;
    }

    .our-trip__slider {

        .arrow-back,
        .arrow-next {
            top: 350px;
        }
    }

    .hotel-img {
        display: none;
    }

    .hotel-gallery__img {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }

    .img-item:nth-child(odd) {
        padding-right: 0px;
    }

    .contact-right__img {
        display: none;
    }

    .contact-box__wrap {
        padding-bottom: 0;
    }

    .footer-right__title {
        font-size: 66px;
    }

    .title--footer {
        font-size: 66px;
    }
}

@media (max-width:970px) {
    .our-trip__slider {
        width: 100%;
    }

    .our-trip__slider img {
        width: 100%;
    }

    .title {
        font-size: 56px;
        line-height: 36px;
    }

    .our-trip-box {
        margin: 0 auto;
        width: 200px;
    }

    .price-box {
        max-width: 200px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .price,
    .our-trip {
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 35px;
    }

    .fairy-tail-box {
        padding-bottom: 25px;
        max-width: 300px;
        margin: 0 auto;
    }

    .hotel-box {
        line-height: 55px;
        padding-bottom: 25px;
        padding-top: 10px;
        margin: 0 auto;
    }

    .hotel {
        margin-bottom: 35px;
    }

    .contact {
        margin-bottom: 70px;
    }

    .header {
        margin-bottom: 70px;
    }

    .fairy-tail {
        margin-bottom: 35px;
    }


    .contact-box__wrap {
        padding-top: 10px;
        padding-bottom: 0px;
    }


    .contact-box--price {
        margin-bottom: 50px;
    }

    .scroll-animation {
        display: none;
    }

    .our-trip__days {
        padding: 25px 25px 0 0px;
    }

    .our-trip__btn {
        margin: 25px auto;
    }

    .img-item {
        padding-top: 25px;
    }

    .price-inner__img {
        display: none;
    }

    .price-inner__desc {
        padding-top: 25px;
        max-width: 400px;
    }

    .contact-box {
        max-width: 300px;
    }

    .contact-box--price {
        max-width: 150px;
    }

    .footer {
        padding-top: 25px;
        height: 145vh;
    }

    .title--footer {
        margin-bottom: 25px;
    }

    .footer-desc {
        max-height: 415px;
        max-width: 280px;
        background-size: contain;
        position: relative;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .footer-desc__email:before {
        content: '';
        left: 15px;
        top: 0;
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .footer-desc__num:before {
        content: '';
        width: 25px;
        height: 25px;
        left: -30px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .footer-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-right__title {
        font-size: 66px;
        padding-top: 25px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    .footer-desc {
        margin: 0 auto;
    }
}

@media (max-width:840px) {
    .header-menu {
        font-size: 20px;
        padding: 44px 0 0 0;
    }

    .header-menu__num::before {
        width: 25px;
        height: 25px;
        background-size: cover;
    }

    .header-title {
        font-size: 120px;
        line-height: 150px;
        margin: 100px 0 0 0;
    }

    .header-subtitle {
        font-size: 30px;
        margin-top: -20px;
    }

    .header-balloons img:nth-child(11) {
        top: 53%;
        left: 73%;
    }

    .header-balloons img:nth-child(17) {
        top: 80%;
        left: 60%;
    }

    .header-balloons img:nth-child(8) {
        top: 90%;
    }

    .header-balloons img:nth-child(15),
    .header-balloons img:nth-child(3) {
        top: 75%;
    }

    .header-balloons img:nth-child(5) {
        top: 70%;
    }

    .header-balloons img:nth-child(2n + 1) {
        width: 30px;
        height: 45px;
    }

    .header-balloons img:nth-child(4n + 2) {
        width: 15px;
        height: 25px;
    }

    .header-balloons {
        img {
            width: 20px;
            height: 40px;
        }
    }

    .about-slider {
        width: 100%;
    }

    .about-slider__item img {
        max-height: 960px;
        max-width: 100%;
    }

    .about-aside {
        padding: 50px 0px 0px 15px;
        width: 100%;
    }

    .about-aside p {
        padding-bottom: 15px;
    }
}

@media (max-width:600px) {

    .arrow-back,
    .arrow-next {
        width: 50px;
        height: 50px;
        background-size: contain;
        top: 175px;
    }

    .header-menu {
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .header-menu__navigation {
            padding-bottom: 20px;
        }
    }

    .header-title {
        font-size: 80px;
        line-height: 120px;
        margin: 60px 0 0 0;
    }

    .header-subtitle {
        font-size: 22px;
        margin-right: 15px;
    }

    .about-aside {
        padding: 0px 15px 0px 15px;
        width: 100%;
    }

    .our-trip__days-wrap {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .our-trip__days {
        font-size: 18px;
    }

    .our-trip__days li {
        line-height: 20px;
    }

    .our-trip__slider {
        height: 565px;
    }

    .our-trip__slider img {
        height: 565px;
    }

    .our-trip__slider {

        .arrow-back,
        .arrow-next {
            top: 250px;
        }
    }

    .our-trip__btn {
        font-size: 18px;
        width: 300px;
    }

    .our-trip__left {
        padding: 0;
    }

    .img-item {
        width: 100%;
    }

    .img-item:nth-child(1) {
        padding-top: 0px;
    }

    .price-inner {
        flex-direction: column;
        width: 100%;

        p {
            text-align: left;
        }

        text-align: center;
    }

    .price-inner__desc {
        margin: 0 auto;
    }

    .price-inner__desc p:nth-child(2) {
        margin-top: 15px;
    }

    .footer-right__title {
        font-size: 40px;
    }

}

@media (max-width:400px) {
    .header-menu {
        .header-menu__navigation {
            width: 300px;
        }
    }

    .header-title {
        font-size: 60px;
        line-height: 100px;
    }

    .header-subtitle {
        font-size: 18px;
        margin-right: 0px;
    }

    .arrow-back,
    .arrow-next {
        top: 105px;
    }

    .about-slider {
        height: 280px;
    }

    .footer {
        padding-top: 25px;
        height: 85vh;
    }
}