.our-trip {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.our-trip__left {
    margin-left: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-trip-box {
    width: 300px;
    margin-bottom: 100px;
}

.our-trip__days {
    font-size: 24px;


    p {
        @include RobotoCondensedRegular;
        padding: 0;
        margin: 0 0 20px 0;
    }

    li {
        @include RobotoCondensedLight;
        line-height: 28px;
    }
}

.our-trip__btn {}

.our-trip__slider {}

//scroll paper animation

.scroll-animation {
    position: relative;
    height: 100px;
}

.paper-plane {
    height: 100px;
    transform: rotate(20deg);
    position: absolute;
    left: 0%;
    top: 50%;
}