.our-trip {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.our-trip__left {
    margin-left: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-trip-box {
    max-width: 300px;
    margin-bottom: 100px;
}

.our-trip__days {
    font-size: 24px;


    p {
        @include RobotoCondensedRegular;
        padding: 0;
        margin: 0 0 20px 0;
    }

    li {
        @include RobotoCondensedLight;
        line-height: 28px;
    }
}

.our-trip__btn {
    width: 320px;
}

.our-trip__slider {
    position: relative;
    width: 960px;
    height: 1095px;

    .arrow-back,
    .arrow-next {
        top: 513px;
    }
}

.slider-inner {
    overflow: hidden;
}

.our-trip__slider img {
    transition: all ease 1s;
    opacity: 1;
    max-height: 1095px;
    max-width: 960px;
    position: absolute;
}

.our-trip__slider .opacity0 {
    opacity: 0;
}